@import "tailwindcss";

/* @font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
}
 */

@theme {
 --color-vp-gray-50:  #F7F6F5;
  --color-vp-gray-100: #E9E8E7;
  --color-vp-gray-200: #D8D6D5;
  --color-vp-gray-300: #C6C4C3;
  --color-vp-gray-400: #B3B1AF;
  --color-vp-gray-500: #9F9C9A;
  --color-vp-gray-600: #857F7D;
  --color-vp-gray-700: #6A6462;
  --color-vp-gray-800: #504B49;
  --color-vp-gray-900: #2B2625;
  --color-vp-gray-950: #151212;


  --color-vp-shadow: #00000040;

  --shadow-vp-sm: 1px 2px 4px var(--color-vp-shadow);
  --shadow-vp-md: 2px 4px 4px var(--color-vp-shadow);
  --shadow-vp-lg: 0px 4px 16px var(--color-vp-shadow);
  --shadow-vp-wbox: 0px 4px 4px var(--color-vp-shadow);

  --font-open-sans: "Open Sans", sans-serif;

  --spacing-vp-default: 2rem;
}


@layer components {
  .vp-hover-75 {
    cursor: pointer;
    user-select: none;
    transition: opacity 100ms ease-out;

    &:hover {
      opacity: 75%;
    }
  }

  .vp-hover-50 {
    user-select: none;
    cursor: pointer;
    transition: opacity 100ms ease-out;

    &:hover {
      opacity: 50%;
    }
  }

  .vp-hover-dark {
    user-select: none;
    cursor: pointer;
    transition: filter 100ms ease-out;

    &:hover {
      filter: brightness(92%);
    }
  }
}

